/* GENERAL SETTING*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 1920px;
}

/* UTILITIES */
.container {
  margin: 0 auto;
}

.t-c {
  text-align: center;
}

.circle {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 4px 0px  #d2d2d2;
}

.circle i {
  padding-top: 10px;
  color: #ff4612;
}

/* TIPOGRAPHY  */
.c0 {
  color: #c0c0c0;
}

.bd {
  color: #bdbdbd;
}

.fa {
  color: #fafafa;
}

.white {
  background: #fff;
}

.orange {
  background: #ff4612;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Logo */
.header-logo {
  margin-left: 60px;
  flex-basis: 70%;
}

.header-logo img {
  max-width: 100px;
}

/* Menu navigazione */
.menu-nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
}

.menu-nav ul {
  display: flex;
  list-style: none;
}

.menu-nav ul li {
  margin: 0 15px;
}

.menu-nav ul i {
  margin: 0 15px;
}

.menu-nav ul i:last-child {
  margin-right: 30px;
}

.menu-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}


/* JUMBOTRON */
.jumbotron {
  position: relative;
  height: 950px;
  background-image: url("../img/rev-slider-main-home-img-03.jpg");
  background-size: cover;
}

.contents {
  position: absolute;
  top: 450px;
  left: 300px;
  max-width: 550px;
}

/* Arrows */
.jumbotron i {
  position: absolute;
  top: 50%;
}

.jumbotron .left{
  left: 5%;
}

.jumbotron .right{
  right: 5%;
}

/* Text */
.text-jumbotron h1 {
  position: relative;
  padding: 15px 0 15px 5px;
  font-size: 60px;
}

.text-jumbotron span {
  position: absolute;
  top: 65px;
  left: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ff4612;
  border-radius: 50%;
}

/* Buttons */
.btn {
  width: 150px;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid white;
  display: inline-block;
  margin-right: 8px;
}

.btn a {
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Button white */
.btn-white {
  margin-top: 3px;
  border-right: 1px solid grey;
  color: #000;
  max-width: 100px;
}

.btn-white a {
color: #000;
}

/* Button orange */
.btn-orange {
  margin-top: 3px;
  border-right: 1px solid white;
  max-width: 100px;
}


/* SPECIALTIES */
.specialties {
  position: relative;
  height: 800px;
  background: #f9f9f9;
}

.middle-container {
  position: absolute;
  top: -65px;
  left: 110px;
  width: 1700px;
  height: 550px;
  padding-top: 70px;
  background: #fff;
}

.text-specialties h1 {
  font-size: 35px;
  padding-bottom: 20px;
}

.text-specialties::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  border-radius: 2px;
  background: #ff4612;
  margin-top: 10px;
}

/* Position */
.position {
  position: relative;
}

.position .collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  list-style: none;
}

.position .collection .loghi {
  flex-basis: 250px;
  margin: 15px 25px;
  padding: 25px;
  text-align: center;
}

.position .collection .loghi img {
  max-width: 120px;
}

.position .collection .loghi h4 {
  padding: 12px;
}

.circle.first {
  right: -60px;
  bottom: -90px;
}


/* THE FOUNDER */
.jason-bickford {
  position: relative;
  height: 450px;
  background: #f9f9f9;
}

.jason-bickford .background img {
  position: absolute;
  top: -35%;
  right: 110px;
}

.jason-bickford .talking img {
  position: absolute;
  max-width: 600px;
  top: -30%;
  left: 20%;
}

.jason-bickford .bio {
  position: absolute;
  width: 600px;
  height: 300px;
  top: -22%;
  right: 20%;
  padding: 50px 40px 30px 40px;
  text-align: left;
  background: #fff;
}

.jason-bickford .bio p::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  border-radius: 2px;
  background: #ff4612;
  margin-top: 15px;
  margin-bottom: 10px;
}

.jason-bickford .bio .social {
  display: flex;
  list-style: none;
}

.jason-bickford .bio .social i {
  width: 22px;
  height: 22px;
  background: #ff4612;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-right: 12px;
  margin-top: 12px;
  padding-top: 3px;
}

.jason-bickford .bio p {
  font-size: 14px;
  line-height: 20px;
}

.jason-bickford .bio .rectangle {
  display: inline-block;
  position: relative;
  left: -567px;
  bottom: -91px;
  width: 100px;
  height: 60px;
  background: #ff4612;
}

.jason-bickford .bio .rectangle .left{
  position: absolute;
  top: 22px;
  left: 30px;
  color: white;
}

.jason-bickford .bio .rectangle .right{
  position: absolute;
  top: 22px;
  right: 30px;
  color: white;
}


/* UPCOMING EVENTS */
.upcoming-events {
  position: relative;
  height: 1400px;
  background: #fff;
}

.events {
  background-image: url("../img/h1-img-09.jpg");
  background-size: cover;
  height: 1000px;
  max-width: 99%;
  display: flex;
  flex-direction: column;
}

.events .appointments {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 405px;
  height: 550px;
  background: #fff;
}

.events .appointments h3 {
  padding: 25px 0 30px 30px;
  box-shadow: 1px 1px 4px 0px  #d2d2d2;
}

.events .appointments li {
  padding: 30px 0 30px 20px;
  list-style: none;
  border-bottom: 1px solid #e1e1e1;
}


.events .appointments li:last-child {
  border-bottom: none;
}

.events .appointments li .text {
  margin-left: 100px;
}

.events .appointments .date {
  position: absolute;
  width: 65px;
  height: 45px;
  background: #ff4612;
  color: white;
  text-align: center;
  margin-top: 8px;
}

.events .appointments .date p,
.events .appointments .text p  {
  font-size: 12px;
}

.events .appointments .text p {
  line-height: 20px;
}

.events .appointments .text h4 {
  margin-bottom: 10px;
}

.events .appointments .text h5 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.events .creative {
  position: absolute;
  width: 550px;
  height: 250px;
  bottom: 80px;
  left: 300px;
  padding: 25px
}

.events .levels {
  position: absolute;
  width: 550px;
  height: 300px;
  right: 350px;
  bottom: 50px;
  padding: 25px;

}

.events .creative p::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  border-radius: 2px;
  background: #ff4612;
  margin-bottom: 10px;
}

.events .creative h2 {
  margin-bottom: 10px;
}

.events .creative p {
  font-size: 14px;
  line-height: 20px;
}

.events .creative h5 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.levels div {
  margin-top: 15px;
}

.levels div h3,
.levels div .bar span {
  font-size: 16px;
}

.bar {
  width: 400px;
  height: 2px;
  background: #d2d2d2;
}

.percent {
  background: #ff4612;
  height: 2px;
}

.levels .one {
  position: absolute;
  top: 48px;
  right: 120px;
}
.levels .two {
  position: absolute;
  top: 98px;
  right: 120px;
}
.levels .three {
  position: absolute;
  top: 150px;
  right: 120px;
}
.levels .four {
  position: absolute;
  top: 198px;
  right: 120px;
}


/* LATEST NEWS */
.latest-news {
  position: relative;
  background: #f9f9f9;
  height: 800px;
}

.latest-news .right,
.latest-news .left {
  position: absolute;
  top: 60%;
}

.latest-news .left{
  left: 5%;
}

.latest-news .right{
  right: 5%;
}


.latest-news .background img {
  position: absolute;
  top: -80px;
  left: 100px;
}

.latest-news h1 {
  font-size: 32px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.latest-news p {
  font-size: 14px;
  line-height: 20px;
}

.latest-news h5 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.latest-news h4 {
  padding: 10px 0 10px 0;
}

.text-news::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  border-radius: 2px;
  background: #ff4612;
  margin-top: 20px;
}

.people .collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 100px;
}

.people .collection .loghi {
  flex-basis: 250px;
  margin: 15px 25px;
  padding: 25px;
  text-align: center;
  position: relative;
}

.people .collection .loghi img {
  max-width: 350px;
}

.people .collection .loghi .second {
  position: absolute;
  bottom: -40px;
}

.people .collection .loghi .date {
  text-align: left;
  position: absolute;
  bottom: -160px;
}

/* TESTIMONIALS */
.testimonials {
  /* display: flex; */
  background: rgba(0, 0, 0, 0.95);
  height: 600px;
}

.testimonials h1 {
  font-size: 230px;
}

.testimonials .profile p,
.testimonials .profile h4 {
  line-height: 20px;
  padding: 15px;
}

.testimonials .profile {
  position: relative;
  color: #fafafa;
  margin-bottom: 87px;
}

.testimonials .profile img {
  border: 2px solid #fff;
  border-radius: 50%;
}

.testimonials i {
  position: absolute;
  bottom: 0;
}

.testimonials .left {
  left: 150px;
  bottom: 150px;
}

.testimonials .right {
  right: 150px;
  bottom: 150px;
}



/* PLAY */
.play {
  background-image: url("../img/h1-img-04.jpg");
  background-repeat: no-repeat;
  height: 900px;
  max-width: 99%;
  position: relative;
}

.play i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 30px;
}

.play .lateral-square {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: #fff;
}

.play .lateral-square img {
  max-width: 25px;
  margin-top: 8px;
  transform: translateX(5px);
}

.play .shopping-cart {
  position: absolute;
  top: 30px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: #fff;
}

.play .shopping-cart img {
  max-width: 15px;
  margin-top: 12px;
  transform: translateX(8px);
}



/* CONTACT US */
.contact-us {
  display: flex;
  justify-content: center;
  height: 600px;
  background: #f9f9f9;
}

.world {
  position: relative;
  margin-top: 120px;
}

.world img {
  max-width: 80%;
}

.pointer span img {
  max-width: 15px;
}

.pointer .pointer-1 {
  position: absolute;
  top: 18%;
  left: 20%;
}

.pointer .pointer-2{
  position: absolute;
  top: 10%;
  right: 57%;
}

.pointer .pointer-3{
  position: absolute;
  bottom: 56%;
  right: 32%;
}

.where {
  position: absolute;
  top: 25%;
  left: 18%;
  width: 160px;
  height: 60px;
  border: 1px solid grey;
  padding: 8px 0 0 5px;
}

.text-contact::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  border-radius: 2px;
  background: #ff4612;
  margin-top: 10px;
}

/* Contact */
.contact {
  margin-top: 80px;
}
.contact .info {
  display: flex;
  justify-content: space-between;
}

.contact .form-group {
  margin-bottom: 0;
} 

.contact input,
.contact textarea {
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0;
  font-size: 10px;
  color: #2c3e50;
  background: #f9f9f9;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #f9f9f9;
}

.contact input {
  padding: 0;
  height: 50px;
  width: 200px;
  line-height: 100px;
  margin-right: 15px;
}

.contact textarea {
  padding: 30px 0;
  margin-bottom: 30px;
  height: 80px;
  width: 100%;
}

.contact ::placeholder {
  color: #6c757d;
}









