<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <title>Everlead</title>
</head>
<body>
  <div id="everlead">
    <!-- HEADER -->
    <header class="main-header">
      <div class="container-header">

        <!-- Header-Logo -->
        <div class="header-logo">
          <img :src="'./img/logo-img' + imgHeader.logoDot + '.png'">
        </div>
    
          <!-- Navigation Bar -->
        <nav class="menu-nav">
          <ul class="menu">
            <li v-for="item in header">
              <a href="#"> {{item.text}} </a>
            </li>
            <i class="fas fa-search"></i>
            <i class="fas fa-list"></i>
            </ul>
        </nav>
      </div>
    </header>



    <!-- JUMBOTRON -->
    <div class="jumbotron">
      <!-- Left Arrow -->
      <i class="fas fa-long-arrow-alt-left left"></i>
      <div class="container">
        <div class="contents">
          <!-- Text -->
          <div class="text-jumbotron">
            <h1>Our Team
              <span></span>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore adipisci pariatur quam id dolorum optio voluptatum.</p>
          </div>
    
          <!-- Buttons -->
          <div class="btn white">
            <div class="btn-white">
              <a href="#">Read More</a>
            </div>
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
          
          <div class="btn orange">
            <div class="btn-orange">
              <a class="white orange" href="#">Puschase</a>
            </div>
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>
      </div>
      <!-- Right Arrow -->
      <i class="fas fa-long-arrow-alt-right right"></i>
    </div>
  


    <!-- SECTION OUR SPECIALTIES -->
    <section class="specialties">
      <div class="middle-container t-c ">
  
        <!-- Text -->
        <div class="text-specialties">
          <h1>Our specialties
            <span></span>
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
  
        <!-- Loghi -->
        <div class="position">
          <ul class="collection">
            <li class="loghi" v-for="item in specialties">
              <div class="logo">
                <img :src="item.logo">
              </div>
              <h4>{{item.name}}</h4>
              <small class="c0">{{item.text}}</small>
            </li>
          </ul>
          <span class="circle first">
            <i class="fas fa-long-arrow-alt-up"></i>
          </span>
        </div>
      </div>
    </section>


    <!-- THE FOUNDER -->
    <section class="jason-bickford">
      <div class="background">
        <img src="./svg/svg-4.svg" alt="">
      </div>

      <div class="talking">
        <img src="./img/h1-img-01.jpg" alt="">
        <span class="rectangle">
          <i class="fas fa-long-arrow-alt-left left" ></i>
          <i class="fas fa-long-arrow-alt-right right"></i>
        </span>
      </div>

      <div class="bio">
        <h2>Jason Bickford</h2>
        <small class="c0 ">Founder and Executive Director</small>
        
        <p class="c0 "><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, sapiente! Debitis, sapiente quisquam numquam eligendi totam consequatur facilis quasi officiis, odit molestias esse, est voluptates architecto veniam quas eum? Veritatis!</p>
        <ul class="social">
          <li>
            <a  href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a  href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a  href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div> 
    </section>



    <!-- UPCOMING EVENTS -->
    <section class="upcoming-events">
      <div class="events"> 
        <div class="appointments">
          <h3>Upcoming Events</h3>
          <ul>
            <li v-for="item in events">
              <div class="date">
                <span>{{item.day}}</span>
                <p>{{item.year}}</p>
              </div>
              <div class="text">
                <h4>{{item.coaching}}</h4>
                <p class="c0">
                <i class="far fa-clock"></i>
                {{item.time}}
                </p>
                <p class="c0">
                <i class="fas fa-map-marker-alt"></i>
                {{item.location}}
                </p>
                <h5>{{item.moreInfo}}</h5>
              </div>
            </li>
          </ul>
        </div>

        <div class="creative">
          <h2>Creative Leader
            <span></span>
          </h2>
          
          <p class="c0"><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, sapiente! Debitis, sapiente quisquam numquam eligendi totam consequatur facilis quasi officiis, odit molestias esse, est voluptates architecto veniam quas eum? Veritatis!</p>
          <h5>Read more</h5>
        </div>

        <div class="levels">
          <div>
            <h3>Mentorship</h3>
            <div class="bar">
              <div class="percent" style="width: 78%">
                <span class="one">78%</span>
              </div>
            </div>
          </div>
          
          <div>
            <h3>Education</h3>
            <div class="bar">
              <div class="percent" style="width: 95%">
                <span class="two">95%</span>
              </div>
            </div>
          </div>
          
          <div>
            <h3>Learning</h3>
            <div class="bar">
              <div class="percent" style="width: 65%">
                <span class="three">65%</span>
              </div>
            </div>
          </div>

          <div>
            <h3>Motivation</h3>
            <div class="bar">
              <div class="percent" style="width: 83%">
                <span class="four">83%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- LATEST NEWS -->
    <section class="latest-news">
      <i class="fas fa-long-arrow-alt-left left"></i>
      <div class="background">
        <img src="./svg/svg-4.svg" alt="">
      </div>

      <!-- Text -->
      <div class="t-c">
        <div class="text-news">
          <h1>Lastest news
            <span></span>
          </h1>
          <p class="c0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>

      <div class="people">
        <ul class="collection">
          <li class="loghi">
            <div class="img">
              <img src="./img/h1-blog-img-02.jpg">
            </div>
            <div class="second">
              <img src="./img/h1-blog-img-03.jpg">
            </div>
            <div class="date">
              <p class="c0">
                <i class="far fa-clock"></i>
                May 5, 2019
                <i class="far fa-user"></i>
                Amanda Doe
              </p>
              <div class="text">
                <h4>Next Investment</h4>
                <p class="c0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quo quidem obcaecati totam iste eligendi ...."</p>
                <h5>Read More</h5>
              </div>
            </div>
          </li>

          <li class="loghi">
            <div class="img">
              <img src="./img/h1-blog-img-03.jpg">
            </div>
            <div class="second">
              <img src="./img/h1-img-01.jpg">
            </div>
            <div class="date">
              <p class="c0">
                <i class="far fa-clock"></i>
                May 5, 2019
                <i class="far fa-user"></i>
                Amanda Doe
              </p>
              <div class="text">
                <h4>Next Investment</h4>
                <p class="c0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quo quidem obcaecati totam iste eligendi ...."</p>
                <h5>Read More</h5>
              </div>
            </div>
          </li>

          <li class="loghi">
            <div class="img">
              <img src="./img/h1-img-01.jpg">
            </div>

            <div class="second">
              <img src="./img/h1-blog-img-01.jpg">
            </div>
            <div class="date">
              <p class="c0">
                <i class="far fa-clock"></i>
                May 5, 2019
                <i class="far fa-user"></i>
                Amanda Doe
              </p>
              <div class="text">
                <h4>Next Investment</h4>
                <p class="c0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quo quidem obcaecati totam iste eligendi ....</p>
                <h5>Read More</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <i class="fas fa-long-arrow-alt-right right"></i>
    </section>



    <!-- TESTIMONIALS -->
    <section class="testimonials t-c">
      <h1>Testimonials</h1>
      
      <div class="profile">
        <!-- Left Arrow -->
        <i class="fas fa-long-arrow-alt-left left bd"></i>

        <img src="./img/h3-img-04.png" alt="">
        <h4>Cynthia Clark</h4>
        <p class="bd">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nostrum nemo? <br>Animi repellat quam sequi corporis aperiam ipsam nemo cupiditate sapiente.</p>

        <!-- Right Arrow -->
       <i class="fas fa-long-arrow-alt-right right bd"></i>
      </div>
    </section>



    <!-- PLAY -->
    <section>
      <div class="play">
        <i class="fas fa-play"></i>
        
        <div class="lateral-square">
          <img src="./svg/svg-8.svg" alt="">
        </div>
  
        <div class="shopping-cart">
          <img src="./svg/svg-7.svg" alt="">
        </div>
      </div>
    </section>
    


    <!-- CONTACT US -->
    <section class="contact-us">

      <div class="world">
        <img src="./img/h1-contact-rev-01.png" alt="">

        <div class="pointer">
          <span class="pointer-1">
            <img src="./img/h1-contact-rev-02.png" alt="">
          </span>
          <span class="pointer-2">
            <img src="./img/h1-contact-rev-02.png" alt="">
          </span>
          <span class="pointer-3">
            <img src="./img/h1-contact-rev-02.png" alt="">
          </span>
        </div>

        <div class="where white">
          <h4>New York Coaching</h4> 
          <p>Read More</p>
        </div>
      </div>

        
      <div class="contact">
        <div class="text-contact">
          <h1>Contact Us</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>

        <div class="info">
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Your Email">
          </div>
        </div>

        <div class="text-area">
          <div class="form-group">
            <textarea class="form-control" id="message" placeholder="Write a message..."></textarea>
          </div>
        </div>
          
        <div class="btn orange">
          <div class="btn-orange">
            <a class="white" href="#">Send</a>
          </div>
        </div>
      </div>
    </section>



    <!-- LOGHI -->
    <section>
      <div class="logos">
        <ul class="collection">
          <li class="loghi" v-for="item in logos">
            <div class="structures">
              <img :src="item.img">
            </div>
          </li>
        </ul>
      </div>
    </section>


    <footer class="main-footer">
      <div class="footer-up">
        <div class="footer-box">
          <ul class="collection">
            <li>
              <div class="text-footer">
                <h4>About</h4>
              </div>
              <h5 class="c0">We created Everlead to effectively become the stepping stone towards all your goals & achieving business success</h5> 
              <div class="social">
                <ul class="social">
                  <li>
                    <a  href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li>
                    <a  href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a  href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>

              <div class="text-footer">
                <h4>Twitter</h4>
              </div>
              <h5 class="c0">Can you please submit a ticket at http and one of our support agent....</h5> <br>
              <h5 class="c0">Check out our theme Gioa which has all necessary elements to build a multi vendor marketplace.</h5>
            </li>

            <li>
              <div class="text-footer">
                <h4>Important links</h4>
              </div>
              <ul class="about c0">
                <li>
                  <h5>About menubar</h5>
                </li>
                <li>
                 <h5>About unescape</h5>
                </li>
                <li>
                  <h5>Language packs</h5>
                </li>
                <li>
                  <h5>Become a coach</h5>
                </li>
                <li>
                  <h5>Monthly events</h5>
                </li>
              </ul>
            </li>

            <li>
              <div class="text-footer">
                <h4>Contact me</h4>
              </div>
              <i></i>
              <h5 class="c0">457 BigBlue Street, NY 10013</h5>
              <i></i>
              <h5 class="c0">(315) 5512-2578</h5> 
              <i></i>
              <h5 class="c0">everlead@mikado.com</h5> 
            </li>
          </ul>
          <div class="form-group">
            <input type="text" class="form-control c0" id="name" placeholder="Your Name">
            <span>SUBSCRIBE</span>
          </div>
        </div>
      </div>


      <div class="footer-bottom t-c">
        <div class="container c0">
          <p>Copyright Everload@MikadoThemes</p>
        </div>
      </div>
    </footer>


  </div>
  <script src="./js/main.js"></script>
</body>
</html>